/**
 * Col
 *
 * based https://raw.githubusercontent.com/kristoferjoseph/flexboxgrid/master/src/css/flexboxgrid.css
 *
 * @project mvComponents
 * @version 1.0
 * @package Layout
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 *
 * <mv-row>
 *   <mv-col>1</mv-col>
 *   <mv-col>2</mv-col>
 * </mv-row>
 *
 * @section Imports
 */

@import "../../variables";
@import "../../shared/mixins";

/**
   * @section Configuration
   */

$outer-margin: $mv-grid--outer-margin;
$gutter-compensation: ($mv-grid--gutter * 0.5) * -1;
$half-gutter-width: ($mv-grid--gutter * 0.5);

/**
  * @section Mixins
  */

@mixin col {
  box-sizing: border-box;
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

@mixin colWidth($device:'') {
  $deviceEscape: '';
  @if($device!='') {
    $deviceEscape: $device+'-';
  }
  :host(.is-#{$deviceEscape}#{1}) {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  :host(.is-#{$deviceEscape}#{2}) {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  :host(.is-#{$deviceEscape}#{3}) {
    flex-basis: 25%;
    max-width: 25%;
  }
  :host(.is-#{$deviceEscape}#{4}) {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  :host(.is-#{$deviceEscape}#{5}) {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  :host(.is-#{$deviceEscape}#{6}) {
    flex-basis: 50%;
    max-width: 50%;
  }
  :host(.is-#{$deviceEscape}#{7}) {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  :host(.is-#{$deviceEscape}#{8}) {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  :host(.is-#{$deviceEscape}#{9}) {
    flex-basis: 75%;
    max-width: 75%;
  }
  :host(.is-#{$deviceEscape}#{10}) {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  :host(.is-#{$deviceEscape}#{11}) {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  :host(.is-#{$deviceEscape}#{12}) {
    flex-basis: 100%;
    max-width: 100%;
  }
  :host(.is-#{$deviceEscape}offset-#{0}) {
    margin-left: 0;
  }
  :host(.is-#{$deviceEscape}offset-#{1}) {
    margin-left: 8.33333333%;
  }
  :host(.is-#{$deviceEscape}offset-#{2}) {
    margin-left: 16.66666667%;
  }
  :host(.is-#{$deviceEscape}offset-#{3}) {
    margin-left: 25%;
  }
  :host(.is-#{$deviceEscape}offset-#{4}) {
    margin-left: 33.33333333%;
  }
  :host(.is-#{$deviceEscape}offset-#{5}) {
    margin-left: 41.66666667%;
  }
  :host(.is-#{$deviceEscape}offset-#{6}) {
    margin-left: 50%;
  }
  :host(.is-#{$deviceEscape}offset-#{7}) {
    margin-left: 58.33333333%;
  }
  :host(.is-#{$deviceEscape}offset-#{8}) {
    margin-left: 66.66666667%;
  }
  :host(.is-#{$deviceEscape}offset-#{9}) {
    margin-left: 75%;
  }
  :host(.is-#{$deviceEscape}offset-#{10}) {
    margin-left: 83.33333333%;
  }
  :host(.is-#{$deviceEscape}offset-#{11}) {
    margin-left: 91.66666667%;
  }
}


/**
 * @section Column
 */

:host {
  @include col();
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

// :host(.has-gap) {
  // padding-right: $half-gutter-width;
  // padding-left: $half-gutter-width;
// }

:host(.is-reverse) {
  flex-direction: column-reverse;
}

:host(.no-grow) {
  flex-grow: 0;
}

:host(.is-flex) {
  display: flex;
  flex-direction: column;
}

// Default
@include colWidth(); // mobile
@include mobile() {
  @include colWidth('mobile');
} // Tablet
@include tablet() {
  @include colWidth('tablet');
} // Desktop
@include desktop() {
  @include colWidth('desktop');
} // Widescreen
@include widescreen() {
  @include colWidth('widescreen');
} // Fullhd
@include fullhd() {
  @include colWidth('fullhd');
}
