/**
 * Button
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Button
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Import
 */

@import "../variables";
@import "../shared/mixins";

/**
 * @section Configuration
 */

$button-color: $mv-color--primary !default;
$button-background-color: transparent !default;
$button-border-color: transparent !default;
$button-hover-color: $mv-color--primary !default;
$button-hover-background-color: $mv-color--secondary !default;
$button-hover-border-color: $mv-color--secondary !default;
$button-focus-color: $mv-color--dark !default;
$button-focus-border-color: $mv-color--grey-light !default;
$button-focus-box-shadow-size: 0 0 0 2px !default;
$button-focus-box-shadow-color: rgba($mv-color--dark, 0.25) !default;
$button-active-color: $mv-color--dark !default;
$button-active-border-color: $mv-color--dark !default;
$button-link-color: $mv-color--dark !default;
$button-link-hover-background-color: transparent !default;
$button-link-hover-color: $mv-color--dark !default;
$button-disabled-color: $mv-color--grey-light !default;
$button-disabled-background-color: transparent !default;
$button-disabled-border-color: transparent !default;
$button-disabled-shadow: none !default;
$button-disabled-opacity: 1 !default;
$button-raised-color: $mv-color--dark !default;
$button-raised-background-color: $mv-color--light !default;
$button-raised-hover-color: $mv-color--primary !default;
$button-tab-hover-background-color: $mv-color--light !default;
$button-top-color: $mv-color--dark !default;
$button-top-background-color: $mv-color--secondary !default;



/**
 * @section Mixins
 */


/**
 * @section Style
 */

:host {
  color: $button-color;
  background-color: $button-background-color;
  border-color: $button-border-color;
  box-shadow: 0 1px 1.5px 0 transparent, 0 1px 1px 0 transparent;
  // text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
  text-shadow: none;

  strong {
    color: inherit;
  }

  &:hover,
  &.is-active {
    color: $button-hover-color;
    background-color: $button-hover-background-color;
    border-color: $button-hover-border-color;
    // text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  &.is-active {
    color: $mv-color--primary !important;
  }
  &:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
  }
  &:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, .18), 0 3px 6px rgba(0, 0, 0, .36) !important;
  }
}

:host(.is-raised) {
  color: $button-raised-color;
  background-color: $button-raised-background-color;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);

  &:hover {
    color: $button-raised-color;
    background-color: $button-hover-background-color;
    border-color: $button-hover-border-color;
  }
}

:host(.is-tab) {
  &:hover,
  &:focus,
  &.is-active {
    box-shadow: none !important;
  }
}
:host(.is-tab:not(.is-active)) {
  &:hover,
  &:focus {
    background-color: $button-tab-hover-background-color;
  }
}

:host([disabled]) {
  color: $button-disabled-color !important;
  background-color: $button-disabled-background-color !important;
  border-color: $button-disabled-border-color !important;
  text-shadow: none;
  box-shadow: $button-disabled-shadow;
}

:host(.is-loading) {
  color: transparent !important;
}

:host([top]) {
  color: $button-top-color !important;
  background-color: rgba($button-top-background-color, 0.9) !important;
}

@mixin theme($color, $background, $font-color: #fff) {
  :host(.is-theme-#{$color}) {
    color: $font-color !important;
    background-color: $background;
    border-color: $background;
  }
}

@each $name, $pair in $mv-colors {
  $color: nth($pair, 1);
  $font: nth($pair, 2);
  @include theme($name, $color, $font);
}
