<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="AppTest">
            <directory>./test/AppTest</directory>
        </testsuite>
        <testsuite name="CoreTest">
            <directory>./test/CoreTest</directory>
        </testsuite>
        <testsuite name="LogTest">
            <directory>./test/LogTest</directory>
        </testsuite>
        <testsuite name="UserTest">
            <directory>./test/UserTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
