<mv-grid>
  <mv-container class="is-limited">
    <mv-row>
      <mv-col>
        <mv-bahamut>
          <mv-bahamut-collection [template]="templateItem"></mv-bahamut-collection>
          <mv-bahamut-form [template]="templateForm"></mv-bahamut-form>
        </mv-bahamut>
      </mv-col>
    </mv-row>
  </mv-container>
</mv-grid>

<ng-template #templateItem let-model="model">
  <app-user-item [model]="model"></app-user-item>
</ng-template>


<ng-template #templateForm let-model="model">
  <app-user-form (onSave)="save($event)"></app-user-form>
</ng-template>

