--------------------------------------------
Kinghost
--------------------------------------------
Painel: https://painel.kinghost.com.br/index.php
Domínio: 
Usuário: 
Senha: 
Senha de atendimento: 


---------------------------------------------
Contato
---------------------------------------------
Nome Completo:
CPF: 
Data nascimento:
CEP:
Endereço: 


--------------------------------------------
Webmail
--------------------------------------------
Painel: http://webmail.


--------------------------------------------
Webmail Users
user::password
--------------------------------------------


---------------------------------------------
FTP
---------------------------------------------
Host    FTP            : ftp.
Usuário FTP            : 
Caminho físico         : /home/
Host    FTP alternativo: 
Acesso  WebFTP         : http://webftp.kinghost.net/
Senha                  : 

---------------------------------------------
MySQL : 5.6
---------------------------------------------
host: 
host: 
db:   
user: 
user root: 
senha: 
