/**
 * List
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage List
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Imports
 */

@import "../variables";

/**
 * @section Style
 */

:host {
  mv-list-header {
    color: $mv-color--grey-dark;
  }
}

:host(.is-bordered) /deep/ {
  mv-list-item {
    border-color: $mv-color--light;
  }
  mv-list-item:last-child {
    border-color: transparent;
  }
}

:host /deep/ mv-list-divisor {
  border-color: $mv-color--grey-light;
}
