<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      <span>Usuários</span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>Card Content Here</div>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="end">
    <button mat-button title="Altere dados pessoais" routerLink="/user/perfil">Perfil</button>
    <button mat-button title="Gerencie responsabilidades no sistema" routerLink="/quasar/admin/users/role">Permissão</button>
  </mat-card-actions>
</mat-card>
