<h1 class="mat-h1">Login</h1>

<form [formGroup]="form" class="mat-typography">
    <div>
        <mat-form-field fxFlexFill>
            <input matInput
                   formControlName="identity"
                   placeholder="Usuário"
                   autofocus>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field fxFlexFill>
            <input type="password" matInput
                   formControlName="credential"
                   placeholder="Senha">
        </mat-form-field>
    </div>

    <p fxLayoutAlign="center" color="danger" *ngIf="showMessage()">
        {{message}}
    </p>

    <div fxLayout>
        <div fxFlex fxLayoutAlign="center">
            <button mat-raised-button color="primary"
                    [disabled]="form.invalid"
                    (click)="login()">
                Entrar
            </button>
        </div>
    </div>

</form>

<div fxLayout class="actions">
    <div fxFlex fxLayoutAlign="center">
        <a mat-button [routerLink]="['.','signin']" tabindex="4">
            Não tenho cadastro
        </a>
    </div>
</div>


<!-- @todo (server-status) : Create a component: snackbar when server error with HttpProvider  -->