/**
 *  Menu
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Menu
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Imports
 */

@import "../../variables";

/**
 * @section Style
 */

:host {}

.mv-menu-dropdown__container {
  color: $mv-font--color;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
  background-color: $mv-color__light;
  max-height: 300px;
  overflow-y: auto;
}
