/**
 * Toolbar
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage grid
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../variables";

$mv-size--toolbar: $mv-size--normal + ($mv-grid--outer-margin * 2);



/**
 * @section Style
 */

:host {
  // padding-top: $mv-grid--outer-margin;
  // padding-bottom: $mv-grid--outer-margin;
  width: 100%;
  min-height: $mv-size--toolbar;
  display: flex;
  flex-direction: row;
  align-items: center;
}

:host /deep/ {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p{
    margin: 0;
    line-height: $mv-size--toolbar;
  }
  h1,
  h2 {
    font-size: $mv-size--normal;
  }
  mv-row {
    margin: 0;
    width: 100%;
    // min-height: $mv-size--toolbar;
    // line-height: $mv-size--toolbar;
    white-space: nowrap;
    mv-col:first-child {
      padding-left: 0;
    }
    mv-col:last-child {
      padding-right: 0;
    }
  }
  button.mv-btn {
    margin-bottom: 0;
    border-radius: 0;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    min-height: $mv-size--toolbar;
  }
}

.mv-toolbar__container {
  display: flex;
  flex: 1;
  line-height: 2rem;
}

:host(.is-small) {
  .mv-toolbar__container {
    height: $mv-size--small;
  }
}

:host(.is-medium) {
  .mv-toolbar__container {
    height: $mv-size--medium;
  }
}

:host(.is-large) {
  .mv-toolbar__container {
    height: $mv-size--large;
  }
}

:host(.is-up) {
  position: absolute;
  z-index: 5000;
}

:host(.is-down) {
  position: absolute;
  z-index: -1;
}

:host(.is-secondary) {
  border-radius: $mv-border-radius;
}

:host(.is-form) {
  & /deep/ mv-control {
    padding-top: 0;
    padding-bottom: 0;
  }
}
