<mv-row>
  <mv-col class="is-mobile-12 is-tablet-4">
    <mv-card>
      <mv-card-body>
        <h2>
          <mv-icon name="music"></mv-icon>
          <span>Áudio</span>
        </h2>
      </mv-card-body>
    </mv-card>
  </mv-col>
  <mv-col class="is-mobile-12 is-tablet-4">
    <mv-card>
      <mv-card-body>
        <h2>
          <mv-icon name="picture-o"></mv-icon>
          <span>Imagem</span>
        </h2>
      </mv-card-body>
    </mv-card>
  </mv-col>
  <mv-col class="is-mobile-12 is-tablet-4">
    <mv-card>
      <mv-card-body>
        <h2>
          <mv-icon name="film"></mv-icon>
          <span>Vídeo</span>
        </h2>
      </mv-card-body>
    </mv-card>
  </mv-col>
  <mv-col class="is-mobile-12 is-tablet-4">
    <mv-card>
      <mv-card-body>
        <h2>
          <mv-icon name="file-text-o"></mv-icon>
          <span>Documento</span>
        </h2>
      </mv-card-body>
    </mv-card>
  </mv-col>
  <mv-col class="is-mobile-12 is-tablet-4">
    <mv-card>
      <mv-card-body>
        <h2>
          <mv-icon name="file-text-o"></mv-icon>
          <span></span>
        </h2>
      </mv-card-body>
    </mv-card>
  </mv-col>
</mv-row>
