/**
 * Section
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Section
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

:host {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
:host /deep/ .is-section-title {
  margin-bottom: 3rem;
}
