<mv-layout class="mv-shell__wrapper">

  <mv-loadbar class="mv-shell__loadbar"></mv-loadbar>

  <mv-sidebar #leftSidebar [options]="leftOptions">
    <ng-content select="mv-shell-left"></ng-content>
  </mv-sidebar>

  <mv-sidebar #rightSidebar [options]="rightOptions">
    <ng-content select="mv-shell-right"></ng-content>
  </mv-sidebar>

  <mv-toolbar>
    <mv-container class="is-limited">
      <mv-row class="has-fill">

        <ng-container *ngIf="hasLeftSidebar()">
          <mv-col class="mv-shell__left-button">
            <button mv-btn accesskey="2" (click)="onToggleLeft()">
              <mv-icon [name]="leftOptions?.icon"></mv-icon>
            </button>
          </mv-col>
        </ng-container>

        <ng-container *ngIf="hasRightSidebar()">
          <mv-col class="is-align-last">
            <button mv-btn accesskey="3" (click)="onToggleRight()">
              <mv-icon [name]="rightOptions?.icon"></mv-icon>
            </button>
          </mv-col>
        </ng-container>

        <mv-col class="is-fill is-align-center">
          <ng-content select="mv-shell-header"></ng-content>
        </mv-col>
      </mv-row>
    </mv-container>
  </mv-toolbar>

  <mv-grid [class.is-full]="isFullContainer">
    <mv-container [class.is-limited]="isLimitedContainer">
      <mv-row>
        <mv-col>
          <ng-content></ng-content>
          <button mv-btn top [animate]="true">
            <mv-icon name="chevron-up"></mv-icon>
          </button>
        </mv-col>
      </mv-row>
    </mv-container>
  </mv-grid>

</mv-layout>
