<?php

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    # 'url' => 'mysql://username:password@localhost/database',
                    'url' => 'mysql://root:mvinicius@db:3306/mvinicius',
                    'driverOptions' => [
                        1002 => 'SET NAMES utf8'
                    ]
                ],
            ],
        ],
    ],
];