<div class="grid-container mat-typography">
  <h1>Sobre</h1>
  <mat-list>
    <mat-list-item>
      <img matListAvatar src="/assets/img/mv-quasar-logo-color.png" alt="Logotipo do MVQuasar">
      <h3 matLine>MV Quasar</h3>
    </mat-list-item>
    <mat-list-item>
       <p matLine>Copyright 2018 MVinicius Consultoria.</p>
       <p matLine>Todos os direitos reservados.</p>
    </mat-list-item>
    <mat-list-item>
      <p>Termos de Serviço</p>
    </mat-list-item>

    <mat-list-item>
      <p>Informar um problema</p>
    </mat-list-item>
  </mat-list>
</div>
