<mat-list>
  <!-- Banco de Dados -->
  <h2 matSubheader>Banco de Dados</h2>
  <mat-list-item>
    <h3 matLine>Banco de Dados</h3>
    <p matLine>Mysql 5.7</p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Mapeamento Relacional</h3>
    <p matLine>Doctrine 2.6</p>
  </mat-list-item>
  <!-- PHP -->
  <h2 matSubheader>API</h2>
  <mat-list-item>
    <h3 matLine>Zend Framework</h3>
    <p matLine>3.0</p>
  </mat-list-item>

  <!-- Client -->
  <h2 matSubheader>Frontend</h2>
  <mat-list-item>
    <h3 matLine>Angular</h3>
    <p matLine>6.0</p>
  </mat-list-item>

  <mat-divider></mat-divider>

  <!-- Client -->
  <h2 matSubheader>Segurança</h2>
  <mat-list-item>
    <h3 matLine>CORS</h3>
    <p matLine>Habilitado</p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Criptografia de dados</h3>
    <p matLine>Habilitado</p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Monitoramento assíncrono</h3>
    <p matLine>Habilitado</p>
  </mat-list-item>

  <mat-divider></mat-divider>

  <!-- Teste -->
  <h2 matSubheader>Conexão</h2>
  <mat-list-item>
    <h3 matLine>Correio</h3>
    <p matLine>Habilitado</p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Protocolo</h3>
    <p matLine>SMTP</p>
  </mat-list-item>
</mat-list>
