<mv-toolbar>
  <mv-container class="is-limited">
    <mv-row>
      <mv-col>
        <h4>
          <mv-icon name="dashboard"></mv-icon>
          <span>Dashboard</span>
        </h4>
      </mv-col>
    </mv-row>
  </mv-container>
</mv-toolbar>

<mv-hero img="/assets/img/background/quasar.jpg" filter="#000" opacity="0.3" class="is-full">
  <h1>MVinicius Quasar</h1>
  <h2>Dashboard</h2>
</mv-hero>
<mv-grid>
  <mv-container class="is-limited">
    <mv-list class="is-bordered">
      <mv-list-item>
        <h2>Modo de operação</h2>
        <p>Produção</p>
        <mv-list-item-secondary>
          <button class="mv-btn">Alterar</button>
        </mv-list-item-secondary>
      </mv-list-item>
      <mv-list-item>
        <h2>Estatísticas</h2>
        <p>Habilitada</p>
        <mv-list-item-secondary>
          <button class="mv-btn">Visualizar</button>
        </mv-list-item-secondary>
      </mv-list-item>
    </mv-list>

  </mv-container>
</mv-grid>
