<h2>
  <mv-icon name="dashboard"></mv-icon>
  <span>Dashboard</span>
</h2>

<mv-grid>
  <mv-row class="has-gap">
    <mv-col class="is-tablet-4">
      <mv-card>
        <h2>Modo de operação</h2>
        <p>Produção</p>
        <mv-card-action>
          <button mv-btn>Alterar</button>
        </mv-card-action>
      </mv-card>
    </mv-col>

    <mv-col class="is-tablet-4">
      <mv-card>
        <h2>Estatísticas</h2>
        <p>Habilitada</p>
        <mv-card-action>
          <button mv-btn>Visualizar</button>
        </mv-card-action>
      </mv-card>
    </mv-col>

    <mv-col class="is-tablet-4">
      <mv-card>
        <h2>Usuários</h2>
        <mv-list>
          <mv-list-item>
            <p>Online</p>
            <mv-col class="p-end">
              <strong>2</strong>
            </mv-col>
          </mv-list-item>
          <mv-list-item>
            <p>Ativos</p>
            <mv-col class="p-end">
              <strong>0</strong>
            </mv-col>
          </mv-list-item>
        </mv-list>

        <mv-card-action>
          <button mv-btn>Visualizar</button>
          <button mv-btn>Criar</button>
        </mv-card-action>
      </mv-card>
    </mv-col>

    <mv-col class="is-tablet-4">
      <mv-card>
        <h2>Erros</h2>
        <mv-list>
          <mv-list-item>
            <p>Monitoramento</p>
            <mv-col class="p-end">
              <strong>Habilitado</strong>
            </mv-col>
          </mv-list-item>
          <mv-list-item>
            <p>Total</p>
            <mv-col class="p-end">
              <strong>0</strong>
            </mv-col>
          </mv-list-item>
        </mv-list>
        <mv-card-action>
          <button mv-btn>Visualizar</button>
        </mv-card-action>
      </mv-card>
    </mv-col>

  </mv-row>
</mv-grid>
