<form [formGroup]="form" class="mat-typography">
  <div>
    <mat-form-field fxFlexFill>
      <input matInput formControlName="identity" placeholder="Usuário" autofocus>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field fxFlexFill>
      <input type="password" matInput formControlName="credential" placeholder="Senha">
    </mat-form-field>
  </div>

  <div fxLayout>
    <!-- <div fxFlex>
      <mat-slide-toggle>Lembrar</mat-slide-toggle>
    </div> -->
    <div fxFlex fxLayoutAlign="end">
      <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="login()">
        Entrar
      </button>
    </div>
  </div>
</form>
