<button mv-btn (click)="paginationModel.open()">
  <mv-icon name="filter"></mv-icon>
  <span>{{pagination.total}}</span>
</button>
<mv-menu-dropdown origin-center>
  <button mvMenuBtn mv-btn class="is-icon">
    <mv-icon name="file-o"></mv-icon>
    <span title="Página atual">{{pagination.current}}</span>
    <span> / </span>
    <span>{{pagination.pages}}</span>
  </button>
  <mv-menu>
    <mv-menu-item *ngFor="let page of getTotalPages(pagination)"
      (click)="go(page)">{{page}}</mv-menu-item>
  </mv-menu>
</mv-menu-dropdown>
<button mv-btn (click)="prev()" title="Anterior">
  <mv-icon name="angle-left"></mv-icon>
</button>
<button mv-btn (click)="next()" title="Próximo">
  <mv-icon name="angle-right"></mv-icon>
</button>

<mv-modal #paginationModel class="is-small" title="Paginação">
  <mv-modal-body>

    <mv-list>
      <mv-list-item>
        Total
        <mv-col class="p-end">
          {{pagination.total}}
        </mv-col>
      </mv-list-item>

      <mv-list-item>
        Página
        <mv-col class="p-end">
          {{pagination.current}} de {{pagination.pages}}
        </mv-col>
      </mv-list-item>

      <mv-list-item>
        <span>Navegar:</span>
        <mv-col class="p-action">
          <button mv-btn (click)="go(1)" title="Primeiro">
            <mv-icon name="angle-double-left"></mv-icon>
            <span>Primeira</span>
          </button>
          <button mv-btn (click)="go(pagination.pages)" title="Última">
            <mv-icon name="angle-double-right"></mv-icon>
            <span>Última</span>
          </button>
        </mv-col>
      </mv-list-item>

      <mv-list-header>Itens por página</mv-list-header>

      <mv-list-item>
        <span>{{pagination.perpage}}</span>
      </mv-list-item>
    </mv-list>
  </mv-modal-body>
</mv-modal>
