/**
 * Border
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Paper
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Imports
 */

 @import "../variables";
 @import "../shared/mixins";

 /**
  * @section Style
  */

/** For screen preview **/

@media screen {
  .is-preview {
    .mv-paper {
      background: #e0e0e0
    }
    .mv-page{
      background: white;
      box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
    }
  }
}


@media print {
  .is-preview {
    .mv-paper {
      background: #e0e0e0
    }
    .mv-page{
      background: white;
      box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
    }
  }
}
