<im-header></im-header>
<mv-hero>
  <img class="the_logo" src="/assets/img/logo-multtask.svg" alt="">
  <div>
    <h1> Prefeitura do Município de Humaitá -AM </h1>
  </div>
</mv-hero>

<mv-section>
  <mv-container class="is-limited">
    <mv-row>
      <mv-col class="is-align-center">
        <button mv-btn class="is-raised" routerLink="/area-candidato">Inscrição On-line</button>
      </mv-col>
      <!-- <mv-col class="is-align-center">
        <button mv-btn class="is-raised">Edital (Retificado)</button>
      </mv-col> -->
    </mv-row>

    <mv-row>
      <mv-col class="conteudo">
        <p>
          Informações sobre o concurso público para a Prefeitura Municipal de Humaitá/AM podem ser obtidas pelo e-mail
          <strong>concursos@multtask.com.br</strong>. O concurso oferece vagas para os cargos de
          <strong>Agente Comunitário de Saúde</strong>, de Nível Médio; e de
          <strong>Agente de Combate às Endemías</strong>, de Nível Médio, conforme consta do Edital.
        </p>
      </mv-col>
    </mv-row>

    <mv-row>
      <im-archive-list></im-archive-list>
    </mv-row>
  </mv-container>

</mv-section>
