<mv-row>
  <mv-col>
    <ul class="menu">
      <li class="item is-active"><a class="item-content" routerLink="/imc">Início</a></li>
      <li class="item"><a class="item-content" routerLink="/imc/concurso">Concursos</a></li>
      <li class="item"><a class="item-content" routerLink="/imc/contato">Contato</a></li>
    </ul>
  </mv-col>
  <mv-col class="is-align-end">
    <ul class="menu">
      <li class="item">
        <span class="item-content">Área do Candidato</span>
      </li>
    </ul>
  </mv-col>
</mv-row>
