<mv-container class="is-limited">



  <!-- Ações de configuração do módulo -->
  <mv-list class="is-bordered">
    <mv-list-item>
      <h2>Upload</h2>
      <mv-col class="p-end">
        <button mv-btn [class.is-active]="enabledFastUpload" (click)="enabledFastUpload=!enabledFastUpload">
          {{(enabledFastUpload) ? '✖' : 'Upload'}}
        </button>
      </mv-col>
    </mv-list-item>
    <ng-container *ngIf="enabledFastUpload">
      <app-midia-uploader></app-midia-uploader>
    </ng-container>
    <mv-list-item>
      <h2>Estatísticas</h2>
      <p>Visualizar estatísticas dos arquivos</p>
      <mv-col class="p-end">
        <button mv-btn [class.is-active]="enabledStats" (click)="enabledStats=!enabledStats">
          Visualizar
        </button>
      </mv-col>
    </mv-list-item>
  </mv-list>

  <!-- Resumo geral -->

  <ng-container *ngIf="enabledStats">
    <app-midia-stats [canLoad]="enabledStats"></app-midia-stats>
  </ng-container>
</mv-container>
