/**
 *  Menu
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Menu
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../variables";

/**
 * @section Style
 */

:host /deep/ {

  mv-menu-header {
    display: block;
    padding: 0 .5rem .5rem .5rem;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
  }

  mv-menu-list {
    margin: 0;
    padding: ($mv-grid--gutter/2) 0;
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  mv-menu-divisor {
    cursor: pointer;
    height: 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    box-sizing: border-box;
  }
}
