<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Geral
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <a mat-list-item routerLink="/">Dashboard</a>
      <a mat-list-item routerLink="/config">Configurações</a>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>


<a mat-list-item routerLink="/user">Link 2</a>
<a mat-list-item href="#">Configurações</a>
<a mat-list-item href="#">Mídia</a>
<a mat-list-item href="#">Sair</a>
