/**
 * Control
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Form
 * @subpackage Control
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2017 by author
 * @licence MIT
 *
 * @section Imports
 */

@import "../../../variables";
@import "../../../shared/mixins";

/**
 * @section Configuration
 */

$contol-date--color: $mv-color__primary;
$contol-date--box-shadow-color: $mv-color__primary;

/**
 * @section Style
 */
:host {
  input::-webkit-calendar-picker-indicator,
  input::-webkit-inner-spin-button {
    display: none;
  }
}

:host /deep/ .flatpickr-day.selected,
:host /deep/ .flatpickr-day.week.selected {
  box-shadow: -5px 0 0 $contol-date--box-shadow-color,
              5px 0 0 $contol-date--box-shadow-color;
  background-color: $contol-date--color;
  border-color: $contol-date--color;
}