<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" class="mat-typography">
    <div fxFlex>
        <mat-card class="quasar-error-page__message">
            <mat-card-header>
                <mat-card-title>Atenção</mat-card-title>
                <mat-card-subtitle>Página não encontada</mat-card-subtitle>
                <img matCardAvatar src="/assets/img/mv-quasar-logo-color.png" alt="">
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                <h1 class="mat-display-4">404</h1>
                <p>Localizando no universo</p>
                <mat-progress-bar
                        class="example-margin"
                        color="warn"
                        mode="indeterminate">
                </mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </div>
</div>