<mv-menu>
  <mv-menu-item icon="dashboard" routerLink="/quasar">Dashboard</mv-menu-item>
  <mv-menu-item icon="cloud" routerLinkActive="is-active" routerLink="/quasar/manager/midia">Mídia</mv-menu-item>
  <mv-menu-header>Configurações</mv-menu-header>
  <mv-menu-item icon="cog" routerLinkActive="is-active" routerLink="/quasar/manager/config">Geral</mv-menu-item>
  <mv-menu-item icon="user" routerLinkActive="is-active" routerLink="/quasar/manager/user">Usuários</mv-menu-item>
  <mv-menu-item icon="sitemap" routerLinkActive="is-active" routerLink="/quasar/manager/user/manager-role">Permissões</mv-menu-item>
</mv-menu>
