:host {
  position: relative;
  box-sizing: border-box;
  display: block;
  height: inherit;
  overflow-y: auto;
  background-color: #eee;
  background-image: url("/assets/img/background/quasar.jpg");
}
.container {
  height: inherit;
  // max-width: 720px;
  // margin: 0 auto;
}

.quasar-accordion {
  // min-height: 10vh;
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 64px;
}

.quasar-flat {
  color: #9898ff;
  background-color: rgba(26, 21, 102, 0.5);
  // border-color: rgba(65, 53, 162, 0.8);
  // border-style: solid;
  // border-width: 0 1px;
}
.quasar-toolbar {
  // color: #9898ff;
  background-color: transparent;
  // border-color: rgba(65, 53, 162, 0.8);
  // border-style: solid;
  // border-width: 0 1px;
}
.quasar-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  color: #edfbff;
  text-transform: uppercase;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.3),
    0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.3);

  h1,
  h2 {
    font-weight: 300;
    text-align: center;
  }
  img.quasar-logo {
    // box-shadow: 0 0 10px rgba(0,0,0,.9);
    filter: brightness(255);
  }
}
