<div class="calendar_header">
  <div class="calendar_control">
    <button mv-btn (click)="resetMode()" *ngIf="!isMode('day')"> &laquo; </button>
    <button mv-btn class="calendar_month" (click)="setMode('month')">{{calendario.date | date:'MMMM' | titlecase}}</button>
    <!-- <span class="calendar_separator"> - </span> -->
    <button mv-btn class="calendar_year" (click)="setMode('year')">{{calendario.date | date:'y'}}</button>
  </div>
  <div class="calendar_action">
    <button mv-btn (click)="prev()"> &lt; </button>
    <button mv-btn (click)="today()"> &#8226; </button>
    <button mv-btn (click)="next()"> &gt; </button>
  </div>
</div>
<mv-calendar-day class="is-mode" [class.is-active]="isMode('day')"></mv-calendar-day>
<mv-calendar-month class="is-mode" [class.is-active]="isMode('month')"></mv-calendar-month>
<mv-calendar-year class="is-mode" [class.is-active]="isMode('year')"></mv-calendar-year>
