/**
 * Badge
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Badge
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../variables";

/**
 * @section Mixins
 */

$mv-badge-color: $mv-color--grey !default;
$mv-badge-background: $mv-color--light !default;

/**
 * @section Style
 */

.mv-badge__box {
  color: $mv-badge-color;
  background: $mv-badge-background;
}
