/**
 * Layout Sidebar
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Layout
 * @subpackage Sidebar
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2017 by author
 * @licence MIT
 *
 * @section Imports
 */

@import "../../variables";
@import "../../shared/mixins";

/**
  * @section Configuration
  */


/**
  * @section Style
  */

:host {
  display: flex;
  flex-direction: column;
  z-index: 1000;
}


:host {
  .mv-sidebar__wrapper {
    left: 0;
    right: auto;
    transform: translateX(-($mv-sidebar-width + 1rem));
  }
  .mv-sidebar__backdrop {
    transform: translateX(-103%);
  }
}

:host([right]) {
  clip: rect(5px 40px 40px 5px);

  .mv-sidebar__wrapper {
    left: auto;
    right: 0;
    transform: translateX(($mv-sidebar-width + 1rem));
  }
  .mv-sidebar__backdrop {
    transform: translateX(103%);
  }
}

:host(.is-open) {
  .mv-sidebar__wrapper {
    transform: translateX(0);
  }
  .mv-sidebar__backdrop {
    opacity: 1;
    transform: translateX(0);
  }
}


@include mobile() {
   :host(:not(.is-open)[opened]) {
    .mv-sidebar__wrapper {
      transform: translateX(-($mv-sidebar-width + 1rem));
    }
     .mv-sidebar__backdrop {
       transform: translateX(-($mv-sidebar-width + 1rem));
     }
  }
}

@include from($mv-device--tablet) {
   :host([opened]) {
    .mv-sidebar__wrapper {
      transform: translateX(0);
    }
    .mv-sidebar__backdrop {
      opacity: 1;
      transform: translateX(0);
    }
    .mv-sidebar__close {
      display: none;
    }
  }
}

/**
 * Elements
 */

 .mv-sidebar__title {
  font-weight: bold;
  text-transform: capitalize
}

.mv-sidebar__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $mv-sidebar-width;
  display: flex;
  flex-direction: column;
  transition: transform ease 300ms;
}

.mv-sidebar__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity ease 500ms;
  z-index: -1;
}

.mv-sidebar__content {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
