<section class="mv-modal" role="dialog"
  [@modalBoxAnimation]="state">
  <mv-toolbar class="mv-modal__header" [title]="title">
    <mv-row>
      <mv-col>
        <h1 class="mv-modal__title">{{title}}</h1>
      </mv-col>
      <mv-col class="no-grow">
          <button class="mv-btn is-icon mv-button--close"
            (click)="close()">
            <mv-icon name="close"></mv-icon>
          </button>
        </mv-col>
    </mv-row>
  </mv-toolbar>
  <ng-content select="mv-modal-body"></ng-content>
  <ng-content select="mv-modal-footer"></ng-content>
</section>
<div class="mv-modal__backdrop"
  *ngIf="backdrop"
  (click)="onBackdropClick()"
  [@modalBackdropAnimation]="state"></div>
