@import "./mixins";

/**
 * Mixins
 */

@mixin alignUtil($device:'') {
  $deviceEscape: '';
  @if($device!='') {
    $deviceEscape: $device+'-';
  }
  .is-#{$deviceEscape}align-start {
    justify-content: flex-start;
    text-align: start;
  }
  .is-#{$deviceEscape}align-center {
    justify-content: center;
    text-align: center;
  }
  .is-#{$deviceEscape}align-end {
    justify-content: flex-end;
    text-align: end;
  }
  .is-#{$deviceEscape}align-top {
    align-items: flex-start;
  }
  .is-#{$deviceEscape}align-middle {
    align-items: center;
  }
  .is-#{$deviceEscape}align-stretch {
    align-items: stretch;
  }
  .is-#{$deviceEscape}align-bottom {
    align-items: flex-end;
  }
  .is-#{$deviceEscape}align-around {
    justify-content: space-around;
  }
  .is-#{$deviceEscape}align-between {
    justify-content: space-between;
  }
  .is-#{$deviceEscape}align-first {
    order: -1;
  }
  .is-#{$deviceEscape}align-last {
    order: 1;
  }
  .is-#{$deviceEscape}central {
    justify-content: center;
    align-items: center;
  }
}


/*
 * Scroller
 */
 .is-scrollable {
   max-height: 100%;
   overflow-y: scroll;
  }

/*
 * Width
 */
.is-full {
  @include full();
}

/**
 * Align
 */

@include alignUtil();
@include mobile() {
  @include alignUtil('mobile');
} // Tablet
@include tablet() {
  @include alignUtil('tablet');
} // Desktop
@include desktop() {
  @include alignUtil('desktop');
} // Widescreen
@include widescreen() {
  @include alignUtil('widescreen');
} // Fullhd
@include fullhd() {
  @include alignUtil('fullhd');
}
